# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Envs
.venv/
venv/
env/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Simulation outputs
md_output/
*.chk

# Qt
*.pyc
__pycache__/
